<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ruben.mcphealth</string>
    <key>ProgramArguments</key>
    <array>
        <string>PYTHON_PATH</string>
        <string>FICO_DIR/mcp_health_menubar.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>StandardOutPath</key>
    <string>FICO_DIR/mcp_health_menubar.log</string>
    <key>StandardErrorPath</key>
    <string>FICO_DIR/mcp_health_menubar.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
