<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ruben.teamstokenrefresh</string>
    <key>ProgramArguments</key>
    <array>
        <string>PYTHON_PATH</string>
        <string>FICO_DIR/refresh-skype-token-bot.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>2400</integer>
    <key>StandardOutPath</key>
    <string>FICO_DIR/teams_token_refresh.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>FICO_DIR/teams_token_refresh.stdout.log</string>
</dict>
</plist>
